$enable-important-utilities: false;
$enable-negative-margins: true;
$enable-dark-mode: false;
$prefix: aesirxsso-;
$secondary: #1ab394;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

.aesirxsso {
  @import 'bootstrap/scss/reboot';
  @import 'bootstrap/scss/type';
  @import 'bootstrap/scss/utilities';
  @import 'bootstrap/scss/modal';
  @import 'bootstrap/scss/forms';
  @import 'bootstrap/scss/button-group';
  @import 'bootstrap/scss/buttons';
  @import 'bootstrap/scss/spinners';
  @import 'bootstrap/scss/close';
  @import 'bootstrap/scss/transitions';
  @import 'bootstrap/scss/helpers';
  @import 'bootstrap/scss/utilities/api';

  .btn-secondary {
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
