$enable-important-utilities: false;
$enable-negative-margins: true;
$enable-dark-mode: false;
$prefix: aesirxsso-;
$primary: #132342;
$secondary: #627eea;
$dark: #0f1314;
$success: #1ab394;
$modal-md: 620px;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

.aesirxsso {
  @import 'bootstrap/scss/reboot';
  @import 'bootstrap/scss/type';
  @import 'bootstrap/scss/utilities';
  @import 'bootstrap/scss/modal';
  @import 'bootstrap/scss/forms';
  @import 'bootstrap/scss/button-group';
  @import 'bootstrap/scss/buttons';
  @import 'bootstrap/scss/spinners';
  @import 'bootstrap/scss/close';
  @import 'bootstrap/scss/transitions';
  @import 'bootstrap/scss/helpers';
  @import 'bootstrap/scss/utilities/api';

  .block-wallet {
    background-color: #f0f3fb;
  }
  .fs-18 {
    font-size: 18px;
  }
  .fs-12 {
    font-size: 12px;
  }
  .form-control {
    padding: 13px;
  }
  .btn {
    min-height: 48px;
    &:not(.btn-ethereum, .btn-concordium) {
      padding: 13px 24px;
    }
    &:hover {
      &.text-white {
        color: $white;
      }
    }
    &:disabled,
    &.disabled {
      opacity: 1;
      background: #a5a4b5;
      color: $white;
      border-color: transparent;
    }
  }
  .line {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      background-color: #e9e9e9;
    }
  }
}
