@include color-mode(dark) {
  .aesirxsso {
    .border,
    .border-bottom,
    .border-top,
    .border-start,
    .border-end {
      border-color: var(--#{$prefix}border-color);
    }
    .btn-dark {
      border-color: var(--#{$prefix}dark-border-subtle);
      background-color: var(--#{$prefix}dark-bg-subtle);
    }
    .line::before {
      background-color: var(--#{$prefix}border-color);
    }
    .btn-outline {
      border-color: #e9e9e9;
      color: $white;
      &:hover {
        border-color: $white;
      }
    }
    .btn-close {
      filter: none;
    }
    .back-button {
      img {
        filter: invert(1);
      }
    }
    .twitter-icon {
      filter: invert(1);
    }
  }
  .aesirxsso-register .btn-close {
    --#{$prefix}btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  }
}
