$enable-important-utilities: false;
$enable-negative-margins: true;
$prefix: aesirxsso-;
$primary: #132342;
$secondary: #627eea;
$dark: #0f1314;
$success: #1ab394;
$modal-md: 846px;
$modal-xl: 846px;
$btn-close-opacity: 1;
$btn-close-color: #fff;
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import './variables-dark';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

.aesirxsso {
  @import 'bootstrap/scss/reboot';
  @import 'bootstrap/scss/type';
  @import 'bootstrap/scss/utilities';
  @import 'bootstrap/scss/modal';
  @import 'bootstrap/scss/forms';
  @import 'bootstrap/scss/button-group';
  @import 'bootstrap/scss/buttons';
  @import 'bootstrap/scss/spinners';
  @import 'bootstrap/scss/close';
  @import 'bootstrap/scss/transitions';
  @import 'bootstrap/scss/helpers';
  @import 'bootstrap/scss/utilities/api';
  @import 'bootstrap/scss/_grid';

  .fs-18 {
    font-size: 18px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-12 {
    font-size: 12px;
  }
  .mb-20px {
    margin-bottom: 20px;
  }
  .mb-18px {
    margin-bottom: 18px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  &.aesirxsso-rounded {
    .form-control {
      border-radius: 50px;
    }
    .btn {
      border-radius: 50px;
    }
    .username_left {
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
    }
  }
  .form-control {
    padding: 13px;
  }
  .btn {
    min-height: 48px;
    &:not(.btn-ethereum, .btn-concordium) {
      padding: 13px 24px;
    }
    &:hover {
      &.text-white {
        color: $white;
      }
    }
    &:disabled,
    &.disabled {
      opacity: 1;
      background: #a5a4b5;
      color: $white;
      border-color: transparent;
    }
  }
  .line {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      background-color: #e9e9e9;
    }
  }
  .bg-success-light {
    background-color: #d1fae5;
    color: #0f674c;
  }
  .btn-outline {
    border-color: #e9e9e9;
    color: $primary;
    &:hover {
      border-color: $black;
    }
  }
  .back-button {
    margin-bottom: 32px;
  }
  .modal-content {
    border: 0;
  }
  .btn-close {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 1;
  }
  .custom-loading {
    background: rgba($white, 0.25);
  }
  .text-inherit {
    color: inherit !important;
  }
  & + .modal-backdrop {
    z-index: 1056;
    & + .modal {
      z-index: 1057;
    }
  }
  .modal-dialog-centered {
    min-height: 100%;
  }
  &.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  .popover-dark {
    .popover {
      background-color: #222328;
      border-color: #222328;
      color: $white;
      border-radius: 6px;
    }
    .bs-popover-top > .popover-arrow::after,
    .bs-popover-auto[data-popper-placement^='top'] > .popover-arrow::after {
      border-top-color: #222328;
    }
  }
  .username_left {
    margin-left: 1px;
    height: 47px;
    width: 47px;
  }
}
.modal-backdrop {
  --#{$prefix}backdrop-zindex: #{$zindex-modal-backdrop};
  --#{$prefix}backdrop-bg: #{$modal-backdrop-bg};
  --#{$prefix}backdrop-opacity: #{$modal-backdrop-opacity};
  @include overlay-backdrop(
    var(--#{$prefix}backdrop-zindex),
    var(--#{$prefix}backdrop-bg),
    var(--#{$prefix}backdrop-opacity)
  );
}
.aesirxsso-register {
  .modal-dialog {
    height: 100%;
  }
}
@include media-breakpoint-down(lg) {
  .aesirxsso {
    .modal-dialog {
      max-width: 100%;
      height: 100%;
      margin: 0;
      .modal-content {
        height: 100%;
        .modal-body {
          display: flex;
          align-items: center;
        }
      }
    }
    &.aesirxsso-register {
      .btn-close {
        filter: none;
      }
    }
    .btn-close {
      filter: invert(1);
    }
  }
}
@import './color-mode.scss';
