$body-bg-dark: #101529 !default;
$link-color-dark: $white !default;
$dark-bg-subtle-dark: #132342 !default;
$dark-border-subtle-dark: #132342 !default;
$light-bg-subtle-dark: #0c1124 !default;
$border-color-dark: #1e4284 !default;
